.castleImg {
  background-image: url(../images/theCastle.jfif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  height: 500px;
}
.nav-link {
  font-family: "Kdam Thmor Pro", sans-serif;
}
.nav-link:hover {
  text-decoration: overline;
}
p.lead {
  font-family: "Inconsolata", monospace;
}
h1.titles {
  font-family: "Unica One", cursive;
}
div .container .nav .nav-item {
  color: white;
}
.carousel-item p {
  color: #f5f7f8;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;
}
.card {
  font-family: "Unica One", cursive;
}
.footer-link{
  text-decoration: none;
}
main .navbar .container-fluid img{
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 992px) {
  nav {
    background-color: #212124;
  }
  .nav.navbar-nav.navbar-right li a {
    color: white;
    text-decoration: none;
  }
  .carousel-item {
    height: 100%;
    width: 100%;
  }
  nav .container-fluid .navbar-brand {
    color: white;
  }
  .castleImg {
    background-image: url(../images/theCatlePhone.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: 400px;
  }
}
