.section-image h1 {
    color: #000;
    font-size: 48px;
    position: absolute;
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
}
.section-image p {
    color: #000;
    position: absolute;
        color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
}
.section-image {
    margin-top: 450px;
}
#google_translate_element select{
    background-color: #272727;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0px;
  }
  /*google translate link | logo */
  .goog-logo-link,.goog-te-gadget span,div#goog-gt-{
    display:none!important;
  }
  .goog-te-gadget{
    color:transparent!important;
  }
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }
  body {
    top: 0px !important; 
  }
  .goog-te-banner-frame{
    display:none !important;
  }
  #goog-gt-tt, .goog-te-balloon-frame{
    display: none !important;
  }
  .goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
  }
  #google_translate_element span{
    display:none !important;
  }
  .skiptranslate iframe{
    display: none !important;
  }
  .goog-te-combo option {
    color: white;
    border: none;
    padding: 0;
  }
  .leaflet-container {
    height: 450px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
  }
  #map {
      width: 100%;
       }
  div.expo-container{
      width: 117px;
      height: 100;
      padding-bottom: 3px;
      text-align: center;
      font-size: 90%;
      color: white;
  }
  .expo-container b{
      display: block;
      margin: 3px 5px 0 5px;
  }
  .expo-container img{
      width: 100%;
      height: auto;
  }
  .red-expo-bgr{ background-color: #cc0033;}
  .magenta-expo-bgr{ background-color: #993366; }
  .blue-expo-bgr{ background-color: #6699cc; }
  .brown-expo-bgr{ background-color: #996666;}
  .green-expo-bgr{ background-color: #99cccc;}
  .yellow-expo-bgr{ background-color: #ffcc66;}
  .peach-expo-bgr{ background-color: #ffcc99;}
  .beige-expo-bgr{ background-color: #cc9900;}
  .cian-expo-bgr{ background-color: #009999;}
  .gray-expo-bgr{ background-color: #9a918a;}