.nav-link {
  font-family: "Kdam Thmor Pro", sans-serif;
}
.nav-link:hover {
  text-decoration: overline;
}
.contactUs {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
.modal {
  margin-top: 100px;
}
.modal .modal-dialog .modal-content {
  height: 300px;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  font-family: "Kdam Thmor Pro", sans-serif;
}
.modal .modal-dialog .modal-content .modal-body p {
  font-family: "Inconsolata", monospace;
}
#map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#map {
  height: 400px;
  width: 600px;
}

#google_translate_element select{
  background-color: #272727;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 0px;
}  
/*google translate link | logo */
.goog-logo-link,.goog-te-gadget span,div#goog-gt-{
  display:none!important;
}
.goog-te-gadget{
  color:transparent!important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}  
body {
  top: 0px !important; 
}
.goog-te-banner-frame{
  display:none !important;
}

#goog-gt-tt, .goog-te-balloon-frame{
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}
#google_translate_element span{
  display:none !important;
}
.skiptranslate iframe{
  display: none !important; 
}
.goog-te-combo option {
  color: white;
  border: none;
  padding: 0;
}

@media only screen and (max-width: 992px) {
  .nav.navbar-nav.navbar-right li a {
    color: white;
    text-decoration: none;
  }
}
